<!-- <%- include('layouts/header') %> -->
<!-- <%- include('layouts/nav') %> -->

<!-- <h1>ini adalah Halaman About</h1> -->

<!-- <%- include('layouts/footer') %> -->


<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="/img/huda.jpg" alt="Huda" class="rounded mx-auto d-block" width="200">
            <h1 class="display-4">Khoirul Huda</h1>
            <p class="lead">Pengusaha | Guru</p>
        </div>
    </div>
</div>